{
    "globals": {
        "describe": true,
        "before": true,
        "after": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true
    },
    "rules": {
        "no-unused-expressions": 0
    }
}
